[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit-player = "*"
streamlit-gallery = "*"
watchdog = "*"
click = "==8"
sentencepiece = "*"
sentence-transformers = "*"
pinecone-client = "*"
datasets = "*"
streamlit = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
