[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
click = "==8"
sentencepiece = "*"
sentence-transformers = "*"
datasets = "*"
protobuf = "*"
streamlit = "*"
pinecone-client = {extras = ["grpc"], version = "*"}
torch = "*"

[dev-packages]
black = "*"
#[requires]
#python_version >= "3.11"
