[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
click = "==8"
sentencepiece = "*"
sentence-transformers = "*"
pinecone-client = "*"
datasets = "*"
protobuf = "*"
streamlit = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
